<!DOCTYPE html>
<html>
<head>

	<meta name="viewport" content="width=device-width, intial-scale=1">

	<!-- JQUERY -->
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
	</script>

	<!-- CUSTOM -->
	<script type="text/javascript" src="static/js/helpers.js"></script>
	<script type="text/javascript" src="static/js/main.js"></script>
	<script type="text/javascript" src="static/js/frontend-adapters.js"></script>

	<title>Basic UI for 549</title>
</head>
<body>

	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="http://bit.ly/549snap"><img src="static/img/snaplogo.png" alt="Snap" width="50"></a>
				<p class="navbar-text">Remote</p>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>


	<div class="container">
		<div class="well">
			<div class="row">
				<h3> Available Devices </h3>

				<div id="devices">
					<form id="device-form">
						{% csrf_token %}
						<div id="form-section">
						</div>
						<div class='btn-group btn-group-lg' id="button-section">
							<button type='button' onclick="update()" class='btn btn-success'>
								Search
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>