<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
	</script>

	<script type="text/javascript" src="main.js"></script>

	<title>Basic UI for 549</title>
</head>
<body>
	<div class="container">
		<div class="well">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Available devices</h3>
					</div>
					<div class="panel-body">
						<table class="table">
							<tr>
								<td><input type="checkbox"></input></td>
								<td>127.0.0.1</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>